/* Fundo */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url("https://cdn.pixabay.com/photo/2018/07/15/10/44/dna-3539309_1280.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* Para o rodapé ficar alinhado abaixo */
}

/* Caixa de login */
.login-box {
    background: rgba(255, 255, 255, 0.0);
    backdrop-filter: blur(10px);
    padding: 35px 30px;
    border-radius: 12px;
    text-align: center;
    width: 350px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.4);
}

/* Título */
.login-box h2 {
    margin-bottom: 20px;
    color: #e6e6e6;
    font-size: 22px;
    font-weight: bold;
}

/* Labels */
.login-box label {
    display: block;
    text-align: left;
    color: #f1f1f1;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 4px;
}

/* Inputs */
.login-box input {
    width: 100%;
    padding: 12px;
    margin: 6px 0 14px 0;
    border: none;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
}

/* Botão */
.btn-login {
    width: 100%;
    padding: 12px;
    background: #28a745; /* verde esmeralda */
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

.btn-login:hover {
    background: #218838; /* verde mais escuro no hover */
}